botbuilder-integration-aiohttp>=4.14.0
aiohttp
botbuilder-core
botbuilder-schema
openai
pandas
numpy
scikit-learn
botbuilder-core
botbuilder-schema
azure-search-documents
azure-core
redis
azure-cognitiveservices-speech
rtclient @ https://github.com/Azure-Samples/aoai-realtime-audio-sdk/releases/download/py%2Fv0.5.3/rtclient-0.5.3.tar.gz#sha256=6d13ca5642f764286575bcb292ffceb0b8eeab5780a6b30e053bb87e46c1e180
flask[async]==3.1.0
nest-asyncio==1.6.0
speechrecognition
pyttsx3
